body{
    font-family: 'Montserrat', sans-serif;
}
.header{
    background: #F5F5F5;
    padding-top: 56px;
}


a{
    color: #443EDF;
}
a:hover{
    text-decoration: none;
    color: #443EDF;
}
.nav-link{
    font-weight: 500;
    margin-left: 28px;
    color: #858585;
}
.active,
.nav-link:hover {
    color: #000000;
    border-bottom: 2px solid #492FE6;
}
.top{
    margin-top: 200px;
    border-bottom: 1px solid #000000;
}
.more{
    padding-top: 24px;
}
@media(max-width: 991px){
    .active,
    .nav-link:hover {
        color: #000000;
        border-bottom: none;
    }
}