body{
    font-family: 'Montserrat', sans-serif;
}
.header{
    background: #F5F5F5;
    padding-bottom: 56px;
}
.contacts{
    background-color: #000000;
    padding-top: 48px;
    padding-bottom: 48px;
}
.footer-panel{
    padding-top: 56px;
    background-color: #000000;
    padding-bottom: 86px;
}
.footer-panel a{
    font-size: 12px;
    font-weight: 500;
}
/*Изменяю цвет togler*/
.navbar-light .navbar-toggler-icon {
    background-image: url('../../images/toggler.svg');
}
/*Убираю рамку togler */
.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}
/*Обводка тоглера*/
button:focus {
    outline: none !important;
}
a{
    color: #443EDF;
}
a:hover{
    text-decoration: none;
    color: #443EDF;
}
.nav-link{
    font-size: 14px;
    font-weight: 600;
    margin-left: 28px;
    color: #858585;
}
.active,
.nav-link:hover {
    color: #000000 !important;
    border-bottom: 2px solid #492FE6;
}
.line{
    border-bottom: 1px solid #000000;
}
.more{
    padding-top: 24px;
}
.card{
    background-color: #F5F5F5;
    border: none;
}
.btn-purple{
    font-size: 12px;
    color: #ECE7E4;
    background-color: #443EDF;
}
.btn-purple:hover{
    color: #ECE7E4;
    background-color: #443EDF;
}
.card-title{
    font-weight: 700;
    font-size: 64px
}
.card-text{
    font-size: 18px;
}
@media(max-width: 991px){
    .active,
    .nav-link:hover {
        color: #000000;
        border-bottom: none;
    }
}
@media(max-width: 517px) {
    .card-title{
        font-size: 32px;
    }
    .card-text{
        font-size: 13px;
    }
}