@font-face{
    font-family: Mason Chronicles;
    src: url('MasonChronicles.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color:  #141218 ;
    background-image: url(images/background.svg);
    background-repeat: no-repeat;
    background-position: top right 7%;
}
h1{
    color: white;
    font-family: Mason Chronicles;
    font-size: 76px;
}
p{
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
a{
    color:white;
}
a:hover{
    text-decoration: none;
    color: white;
}
.society{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 17px;
}
.nav-link{
    margin-left: 12px;
    margin-right: 12px;
    color: white;
}
.btn.btn-block{
    font-size: 14px;
    margin-top: 30px;
}
.play{
    margin-top: 225px;
    margin-left: 240px;
    display: block;
}
.carousel-arrow{
    left: 260px;
}
.carousel-title{
    font-size: 10px; 
    position: absolute; 
    top: 120px; 
    left:10px;
}
.carousel-description{
    position: absolute; 
    top: 140px;
    left:10px;
}
@media(max-width:1200px)
{
    .carousel-arrow{
        left: 220px;
    }
    .carousel-title{
        top: 100px; 
    }
    .carousel-description{
        top: 120px;
    }
}
@media(max-width:992px)
{
    .carousel-arrow{
        left: 170px;
    }
    .play{
        display: none;
    }
    .carousel-title{
        top: 65px; 
    }
    .carousel-description{
        top: 80px;
    }
}
@media(max-width:766px)
{
    .carousel-arrow{
        left: 120px;
    }
    .carousel-title{
        top: 40px; 
    }
    .carousel-description{
        font-size: 11px;
        top: 50px;
    }
}
@media(max-width:575px)
{
    body{
        background-position: top right 40% ;
    }
    .carousel-arrow{
        left: 450px;
    }
    .carousel-title{
        top: 270px; 
    }
    .carousel-description{
        font-size: 16px;
        top: 290px;
    }
}
@media(max-width:474px)
{
    .carousel-arrow{
        left: 370px;
    }
    .carousel-title{
        top: 230px; 
    }
    .carousel-description{
        font-size: 16px;
        top: 245px;
    }
}
@media(max-width:418px)
{
    .carousel-arrow{
        left: 280px;
    }
    .carousel-title{
        top: 170px; 
    }
    .carousel-description{
        font-size: 16px;
        top: 185px;
    }
}