header{
	background-color:2a52be;
	min-height:80px;
	min-width:525px;
	top:0;
	right:0;
	left:0;
	position:fixed;
	box-shadow: 0px 2px 8px #212b5b;
	font-family: 'Roboto', sans-serif;
}
.logo{
	background-color:2a52be;
	position:absolute;
	float:left;
	color:white;
	padding:14px 0px 0px 45px;
	font-size:36px;
}
.logo a{
	text-decoration:none;
	color:white;
}

.navPanel{
	float:right;
	padding-top:25px;
	padding-bottom:30px;
	padding-right:15px;
	padding-left:15px;
	font-size:20px;
	text-decoration:none;
	color:white;
	display:block;
}
.navPanel:hover{
	background-color:0043ab;
	cursor:pointer;
}
form{
	padding-top:100px;
	width:280px;
}
.textbox{
	width:100%;
	overflow:hidden;
	font-size:20px;
	margin: 8px 0;
	border-bottom:1px solid #0043ab;
}
.textbox i{
	width:26px;
	float:left;
	text-align:center;
}
.textbox input{
	border:none;
	outline:none;
	background:none;
	font-size:20px;
	width:80%;
	float:left;
	margin: 0 10px;
}
.btn{
	background-color:2a52be;
	border:none;
	border-radius:7px;
	color:white;
	text-align:center;
	font-size:18px;
	padding:10px 20px;
}
.btn:hover{
	background-color:0043ab;
	cursor:pointer;
}
.bg-form{
	/* The image used */
	background-image: url("images/avia9.jpg");

	min-height: 380px;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}


