<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!--CSS-->
    <link rel="stylesheet" href="style.css">

    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!--VUE-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js" defer></script>
    

    <title>Redesign Naukin.com</title>

    <style>     /* v-cloak - делает так, что бы при обновлении страницы vue не показывал не подгруженные модули */
        [v-cloak]{
            display: none;
        }
    </style>

  </head>
  <body>
  <div id="app" v-cloak>

    <!--Навигационная панель-->
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#F5F5F5; position: sticky; top:0px; z-index: 10">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="images/logo.svg" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Портфолио</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://7brothers.ml/projects/naukin/blog/index.html">Блог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Калькуляторы</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Навигационная панель-->

    <!--HEADER-->
    <div class="header">
        <div class="container">
            <div class="row" style="padding-top:24px">
                <div class="col-lg-6" style="margin-right: 16px;">
                    <img src="images/header.gif" class="w-100" style="transform: scale(-1, 1)">
                </div>
                <div class="col-lg-5">
                    <h2 style="font-weight: 700; margin-bottom: 32px; margin-top: 138px">Сделай свой бренд лучше со студией Naukin Design.</h2>
                    <p>Naukin Design - это веб-студия в Кишинёве, предоставляющая широкий спектр услуг для
                        бизнеса: от создания графического стиля вашего бренда до разработки веб-сайтов и их
                        SEO-оптимизации.</p>
                    <div class="row" style="margin-top: 50px;">
                        <div class="col-lg mt-2" align="center">
                            <a href="#" class="btn btn-block btn-purple mr-3">Открыть услуги</a>
                        </div>
                        <div class="col-lg mt-2" align="center" >
                            <a href="#" class="btn btn-block" style="font-size: 12px; border: 1px solid #000000;">Смотреть портфолио</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Конец HEADER-->

    <!--Portfolio-->
    <div class="portfolio">
        <div class="container">
            <!--Ecaterina-->
            <div class="row" style="margin-bottom: 64px">
                <div class="col-lg-8" >
                    <img src="images/portfolio/ecaterina_portfolio.svg" class="w-100 mb-3">
                </div>
                <div class="col-lg-3 offset-md-1 d-flex align-items-center">
                    <div>
                        <h3 style="margin-bottom: 16px; font-size: 24px;">Ecaterina Matei</h3>
                        <p>Naukin Design - это веб-студия в Кишинёве, предоставляющая широкий спектр услуг
                            для бизнеса: от создания графического стиля вашего бренда до разработки веб-сайтов
                            и их SEO-оптимизации.<br><br>Брендинг + Печатная продукция
                            Косметологический кабинет</p>
                    </div>
                </div>
            </div>

            <!--Alert-->
            <div class="row" style="margin-bottom: 64px">
                <div class="col-lg-8" >
                    <img src="images/portfolio/alert_portfolio.svg" class="w-100 mb-3">
                </div>
                <div class="col-lg-3 offset-md-1 d-flex align-items-center">
                    <div>
                        <h3 style="margin-bottom: 16px; font-size: 24px;">AllERT</h3>
                        <p>Naukin Design - это веб-студия в Кишинёве, предоставляющая
                            широкий спектр услуг для бизнеса: от создания графического
                            стиля вашего бренда до разработки веб-сайтов и их SEO-оптимизации.
                            <br><br> Брендинг + Мобильное приложение>Start Up компания.</p>
                    </div>
                </div>
            </div>

            <!--Astralis Dent-->
            <div class="row" style="margin-bottom: 64px">
                <div class="col-lg-8" >
                    <img src="images/portfolio/astralis_portfolio.svg" class="w-100 mb-3">
                </div>
                <div class="col-lg-3 offset-md-1 d-flex align-items-center">
                   <div>
                       <h3 style="margin-bottom: 16px; font-size: 24px;">Astralis Dent</h3>
                       <p>Дизайн стомат
                           <br><br> Брендинг + Печатная продукция <br> Частная стоматология.</p>
                   </div>
                </div>
            </div>

            <!--Gaomon-->
            <div class="row">
                <div class="col-lg-8">
                    <img src="images/portfolio/gaomon_portfolio.svg" class="w-100 mb-3">
                </div>
                <div class="col-lg-3 offset-md-1 d-flex align-items-center">
                   <div>
                       <h3 style="margin-bottom: 16px; font-size: 24px;">Gaomon</h3>
                       <p>Naukin Design - это веб-студия в Кишинёве, предоставляющая широкий
                           спектр услуг для бизнеса: от создания графического стиля вашего
                           бренда до разработки веб-сайтов и их SEO-оптимизации.
                           <br><br> Брендинг + Сайт-каталог <br> Косметологический кабинет.</p>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <!--Конец Portfolio-->

    <!--More examples-->
    <div class="more">
        <div class="container">
            <div class="row">
                <div class="col-md-7 offset-md-2">
                    <h1>Больше работ</h1>
                    <p>Всё портфолио вы можете увидеть на отдельной странице,
                        посвященной самым ярким нашим проектам.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-2" style="margin-top: 64px">
                    <a href="#" class="btn btn-block btn-purple">Смотреть портфолио</a>
                </div>
            </div>
        </div>
    </div>
    <!--Конец More examples-->

    <!--Почему мы?-->
    <div class="why text-white">
          <div class="container">

              <h2 style="font-weight: 700;">Почему мы?</h2>
              <p style="margin-top: 24px;">Значимость этих проблем настолько очевидна, что консультация с
                  широким активом играет важную роль в формировании новых людей.</p>

              <!--Карточки-->
              <div class="row" style="margin-top: 64px;">
                  <div class="col-lg-3" align="center">
                      <div class="card border-red-naukin mb-3" style="background-color: #000000;">
                          <div class="card-body text-white" align="center">
                              <img src="images/card-icon/red.svg" alt="">
                              <h5 class="card-title">Быстро</h5>
                              <p class="card-text" style="font-size: 10px;">Значимость этих проблем настолько очевидна, что консультация с широким активом роль.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3" align="center">
                      <div class="card border-green-naukin mb-3" style="background-color: #000000;">
                          <div class="card-body text-white" align="center">
                              <img src="images/card-icon/green.svg" alt="">
                              <h5 class="card-title">Качественно</h5>
                              <p class="card-text" style="font-size: 10px;">Значимость этих проблем настолько очевидна, что консультация с широким активом роль.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3" align="center">
                      <div class="card border-purple-naukin mb-3" style="background-color: #000000;">
                          <div class="card-body text-white" align="center">
                              <img src="images/card-icon/purple.svg" alt="">
                              <h5 class="card-title">Талантливо</h5>
                              <p class="card-text" style="font-size: 10px;">Значимость этих проблем настолько очевидна, что консультация с широким активом роль.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3" align="center">
                      <div class="card border-pink-naukin mb-3" style="background-color: #000000;">
                          <div class="card-body text-white" align="center">
                              <img src="images/card-icon/pink.svg" alt="">
                              <h5 class="card-title">Красиво</h5>
                              <p class="card-text" style="font-size: 10px;">Значимость этих проблем настолько очевидна, что консультация с широким активом роль.</p>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
    <!--Конец Почему мы?-->
    <!--
       TODO: поменять текст, посмотреть шрифты
    -->

    <!--Услуги-->
    <div class="services">
        <div class="container">

            <h2 style="font-weight: 700;">Услуги</h2>
            <p style="margin-top: 24px; font-weight: 500;">Значимость этих проблем настолько очевидна, что консультация с широким активом играет важную роль в 
                формировании новых людей. Значимость этих проблем настолько очевидна. Значимость этих проблем настолько очевидна, что
                 консультация с широким активом играет важную роль в формировании новых людей. Значимость этих проблем настолько очевидна.</p>
                 
            <div class="multi-card">
                <div class="card mw-100 purple-card" style="margin-top: 64px;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight:600;">Веб-дизайн</h5>
                        <p class="card-text">Значимость этих проблем настолько очевидна, что консультация с широким активом 
                            играет важную роль в формировании новых людей. Значимость этих проблем настолько очевидна, что
                             консультация с широким активом играет важную роль в формировании новых людей. Значимость этих 
                             проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании новых людей. </p>
                        <div class="row" align="center" style="margin-top: 25px;">
                            <!--Размножающиеся карточка-->
                            <div class="col-lg-4 mt-3" v-for="item in listWebDesign">
                                <div class="card purple-card h-100" style="max-width: 350px;">
                                    <div class="card-body">
                                        <div class="card-title row">
                                            <div class="col-9">
                                                <p class="card-title" style="font-weight: 600; font-size: 14px;" align="left">{{item.title}}</p>
                                            </div>
                                            <div class="col">
                                                <img class="ml-auto" :src="item.urlPicture" alt="">
                                            </div>
                                        </div>
                                        <p class="card-text" style="font-weight: 500; font-size: 14px;" align="left">{{item.description}}</p>
                                        <div class="row" style="font-weight: 600; font-size: 12px;">
                                            <div class="col" align="left">
                                                <p>Цена: <span style="color: #443EDF;">{{item.price}}</span></p>
                                            </div>
                                            <div class="col">
                                                <a href="#" @click="clicked(item.id)">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mt-3">
                                <div class="card purple-card h-100" style="max-width: 350px;">
                                    <div class="card-body">
                                        <p class="card-text" style="font-weight: 500; font-size: 14px; top:30px" align="center">View All</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
            <div class="multi-card">
                <div class="card mw-100 purple-card" style="margin-top: 16px;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight:600;">Графический дизайн</h5>
                        <p class="card-text">Значимость этих проблем настолько очевидна, что консультация с широким активом 
                            играет важную роль в формировании новых людей. Значимость этих проблем настолько очевидна, что
                             консультация с широким активом играет важную роль в формировании новых людей. Значимость этих 
                             проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании новых людей. </p>
                        <div class="row" align="center" style="margin-top: 25px;">

                            <!--Размножающиеся карточка-->
                            <div class="col-lg-4 mt-3" v-for="item in listDesign">
                                <div class="card purple-card h-100" style="max-width: 350px;">
                                    <div class="card-body">
                                        <div class="card-title row">
                                            <div class="col-9">
                                                <p class="card-title" style="font-weight: 600; font-size: 14px;" align="left">{{item.title}}</p>
                                            </div>
                                            <div class="col">
                                                <img class="ml-auto" :src="item.urlPicture" alt="">
                                            </div>
                                        </div>
                                        <p class="card-text" style="font-weight: 500; font-size: 14px;" align="left">{{item.description}}</p>
                                        <div class="row" style="font-weight: 600; font-size: 12px;">
                                            <div class="col" align="left">
                                                <p>Цена: <span style="color: #443EDF;">{{item.price}}</span></p>
                                            </div>
                                            <div class="col">
                                                <a href="#" @click="clicked(item.id)">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mt-3">
                                <div class="card purple-card h-100" style="max-width: 350px;">
                                    <div class="card-body">
                                        <p class="card-text" style="font-weight: 500; font-size: 14px; top:30px" align="center">View All</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="multi-card">
                <div class="card mw-100 purple-card" style="margin-top: 16px;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight:600;">Маркетинг</h5>
                        <p class="card-text">Значимость этих проблем настолько очевидна, что консультация с широким активом 
                            играет важную роль в формировании новых людей. Значимость этих проблем настолько очевидна, что
                             консультация с широким активом играет важную роль в формировании новых людей. Значимость этих 
                             проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании новых людей. </p>
                        <div class="row" align="center" style="margin-top: 25px;">

                            <!--Размножающиеся карточка-->
                            <div class="col-lg-4 mt-3" v-for="item in listMarketing">
                                <div class="card purple-card h-100" style="max-width: 350px;">
                                    <div class="card-body">
                                        <div class="card-title row">
                                            <div class="col-9">
                                                <p class="card-title" style="font-weight: 600; font-size: 14px;" align="left">{{item.title}}</p>
                                            </div>
                                            <div class="col">
                                                <img class="ml-auto" :src="item.urlPicture" alt="">
                                            </div>
                                        </div>
                                        <p class="card-text" style="font-weight: 500; font-size: 14px;" align="left">{{item.description}}</p>
                                        <div class="row" style="font-weight: 600; font-size: 12px;">
                                            <div class="col" align="left">
                                                <p>Цена: <span style="color: #443EDF;">{{item.price}}</span></p>
                                            </div>
                                            <div class="col">
                                                <a href="#" @click="clicked(item.id)">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mt-3">
                                <div class="card purple-card h-100" style="max-width: 350px;">
                                    <div class="card-body">
                                        <p class="card-text" style="font-weight: 500; font-size: 14px; top:30px" align="center">View All</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!--Конец Услуги-->

    <!--Контакты-->
    <div class="contacts text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 style="font-weight: 700;">Созрели сделать что-то крутое <span style="color: #492fe6;">?</span>
                        Напишите нам.</h2>
                    <p style="font-weight: 500; margin-top: 24px;">Свяжитесь с нами любым удобным способом.</p>
                    <div class="row"style="margin-top: 96px;">
                        <div class="col-md">
                            <p>Номер телефона: <br>
                             +373 069 65 89 75   <br>
                                +373 069 65 89 75</p>
        
                            <p>Связь по почте<br>
                                design@naukin.com</p>
                        </div>
                        <div class="col-md">
                            <p>
                                Отправить заявку <br>
                                <a href="#">Конструктор заказа</a>
                            </p>

                            <p>
                                Социальные сети <br>
                                <a href="#">Instagram</a>,
                                <a href="#">VKontakte</a>,
                                <a href="#">Behance</a>,
                                <a href="#">Facebook</a>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="w-100" src="images/mail.gif" alt="">
                </div>
            </div>
            <div class="row" style="margin-top: 83px">
                <div class="col-md-6">
                    <h2 style="font-weight: 700;">Контактные данные нам на почту! Быстро!</h2>
                    <p style="font-weight: 500;">Свяжитесь с нами любым удобным способом. Свяжитесь с нами любым 
                        удобным способом. Свяжитесь с нами любым удобным способом. Свяжитесь с нами любым удобным способом.</p>
                </div>
                <div class="col-md-6 text-white">
                    <form action="#" class="form-contacts">
                        <label class="mt-3" for="name">Имя</label>
                        <input src="images/logo.svg" class="form-control text-white" type="text" id="name" required>
                        <label class="mt-3" for="email">Почта</label>
                        <input class="form-control text-white" type="email" id="email" required>
                        <label class="mt-3" for="message">Сообщение</label>
                        <textarea class="form-control text-white" name="" id="message" rows="7"></textarea>
                        <button class="btn btn-purple d-flex ml-auto mt-2" type="submit">Отправить сообщение</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Конец Контакты-->

    <!--Вопросы-->
    <div class="question">
        <div class="container">

            <h2 style="font-weight: 700;">Остались вопросы?</h2>

            <!--Вопрос - ответ-->
            <div class="multi-question" v-for="item in listQuestion">
                <div class="row align-items-center">
                    <div class="col-10 mt-3">
                        <p class="h-100" style="font-weight: 500;">
                            {{item.question}}
                        </p>
                    </div>
                    <div class="col-2 ml-auto">
                        <a class="btn plus" data-toggle="collapse" :href="'#'+item.id" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                            <img src="images/plus.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="collapse multi-collapse" :id="item.id">
                    <div style="margin-bottom: 10px;">
                      {{item.answer}}
                    </div>
                </div>
            </div>
             <!--Конец Вопрос - ответ-->
            
            <p style="margin-top: 74px; font-weight: 500;">Web-студия Naukin Design: качественный и уникальный дизайн и профессиональное создание сайтов в Молдове.
                Команда талантливых, молодых и ответственных специалистов в своих сферах, находящих индивидуальный 
                подход к каждому клиенту — именно так можно описать студию дизайна Naukin Design - несомненно сильного 
                игрока на Молдавском рынке дизайна и веб разработки. Наши способности и опыт делают из нас одной из 
                самых перспективных студий в Кишинёве. Мы избрали свой собственный путь развития и работы, благодаря 
                которому мы станем лидерами в сфере графического и web дизайна.</p>
            
                <!--Остались вопросы?-->
            <div class="have-question" style="margin-top: 24px;">
                <p style="font-weight: 500;">Остались ещё вопросы? 
                    <a data-toggle="collapse" href="#questions" role="button" aria-expanded="false" 
                        aria-controls="multiCollapseExample1">
                        Продолжить чтение
                    </a>
                </p>
                <div class="answer">
                    <div class="collapse multi-collapse" id="questions">
                        <div style="font-weight: 500;">

                            <p>
                                <span style="font-weight: 700;">Благодаря чему клиенты заказывают дизайн и разработку у студии Naukin Design</span>
                            </p>
                            <p>
                                Всё благодаря индивидуальному подходу и опыту которым обладает наша студия. Наши принципы работы основываются на получении 
                                результата, который будет долговечен и принесёт клиенту бизнесу клиента.
                                Мы полностью погружаемся в сферу клиента и находим самые эффективные решения поставленных перед нами задач.
                                Мы представляем один из самых широких спектров услуг графического и веб дизайна в Кишинёве и Молдове, также не 
                                забывая про услуги маркетинга.
                            </p>
                            <p>
                                Среди наших услуг вебдизайна есть: Лендинг, визитка, Сайт Tilda, Сайт-каталог, Интернет-магазин, Мобильное приложение и Промо-сайт. 
                            </p>
                            <p>
                                Среди наших услуг дизайна есть: Разработка логотипа, Брендбук, Разработка 
                                фирменного стиля, Печатная продукция, Разработка упаковки или этикетки, Дизайн презентаций.
                            </p>
                            <p>
                                Среди наших услуг маркетинга есть: SEO-продвижение сайта, 
                                SMM продвижение, Контекстная реклама, Сбор семантического ядра сайта,
                                Анализ и доработка готового проекта. Постоянная работа над улучшением наших 
                                навыков помогает нашей компании не отставать от мировых стандартов. В работе наша 
                                команда выбирает только прогрессивные решения в мире дизайна и веб разработок. Мы 
                                отказались от скучных, устаревший и просто не эффективных решений.
                            </p>
                            <p>
                                Мы готовы обеспечить своевременную поддержку 24 часа в сутки и готовы взяться за 
                                проект не зависимо от числа в календаре.
                                Дизайн студия Naukin Design работает, чтобы наши клиенты росли и развивались, это 
                                подтверждают успешный опыт сотрудничества с разного рода компаниями Молдовы.    
                            </p>
                            
                            <p>
                                <span style="font-weight: 700;">Что такое дизайн от Naukin Design</span>
                            </p>
                            <p>
                                Это работа по обеспечению вашего бизнеса качественным дизайном и продвижением в сети. 
                                Наша компания использует для этого все свои навыки и возможности, которые смогут начать 
                                приносить прибыль веб-ресурсу как можно раньше:
                            </p>
                            <p>
                                SEO-продвижение способствует выходу ресурса на высокие позиции в поисковых системах, 
                                тем самым обеспечивая сайт органическим трафиком.
                            </p>
                            <p>
                                SMM – продвижение компании в социальных сетях, создание контент плана, 
                                подготовка контекстной рекламы, ведение страниц.
                            </p>
                            <p>
                                Контекстная реклама – это платный инструмент маркетинга позволяющий найти 
                                заинтересованного клиента и привести его на сайт.
                            </p>
                            <p>
                                Семантическое ядро – анализ поисковых запросов по ключевым темам отрасли для лучшей оптимизации веб-сервиса и покупной рекламы.
                            </p>
                            
                            <p>
                                <span style="font-weight: 700;">Основные виды работ в вебдизайне студии Naukin Design в Кишинёве: что можно заказать</span>
                            </p>
                            <p>
                                Наши сотрудники могут выполнить самые разные виды услуг в области разработки и дизайна всех видов сайтов среди них:
                            </p>
                            <ul>
                                <li>Landing Page;</li>
                                <li>Сайт визитка;</li>
                                <li>Сайт на конструкторе Tilda;</li>
                                <li>Сайт-каталог;</li>
                                <li>Интернет-магазин;</li>
                                <li>Промо-сайт;</li>
                            </ul>
                            <p>
                                Каждый из сайтов имеет свои преимущества и мы готовы вам помочь с выбором наиболее 
                                подходящей услуги, для этого вам нужно будет описать свои пожелания и сказать о целях,
                                 мы подберём оптимальное решение для достижения ваших бизнес-целей.
                            </p>
                            <p>
                                Для этого мы делаем следующее:
                            </p>
                            <ul>
                                <li>Занимаемся изучением отрасли и её особенностей</li>
                                <li>Улучшаем интерфейс и функционал сайта</li>
                                <li>Обеспечиваем поддержку</li>
                                <li>Дорабатываем и улучшаем существующей контент</li>
                                <li>Даём рекомендации по продвижению сайта в сети</li>
                            </ul>
                            
                            <p>
                                <span style="font-weight: 700;">Naukin Design в Кишинёве и Молдове</span>
                            </p>
                            <p>
                                Какова причина выбора нашей студии? Главная причина в справедливых ценах и качественной работе. Вам нужен редизайн сайта? Необходимо создание логотипа? Быстрое и качественное создание интернет-магазина? Тогда наша студия Naukin Design может вам это предложить.
                                Осталось только оставить свои контактные данные или позвонить.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
    <!--Конец Вопросы-->

    <!--Footer-->
    <div class="footer-panel text-white">
          <div class="container">

              <div class="row">
                  <div class="col-md-2 mb-4">
                      <p>Веб-дизайн:</p>
                      <a href="#">Ссылка 1</a><br>
                      <a href="#">Ссылка 2</a><br>
                      <a href="#">Ссылка 3</a><br>
                  </div>
                  <div class="col-md-2 mb-4">
                      <p>Граф. дизайн:</p>
                      <a href="#">Ссылка 1</a><br>
                      <a href="#">Ссылка 2</a><br>
                      <a href="#">Ссылка 3</a><br>
                  </div>
                  <div class="col-md-2 mb-4">
                      <p>Маркетинг:</p>
                      <a href="#">Ссылка 1</a><br>
                      <a href="#">Ссылка 2</a><br>
                      <a href="#">Ссылка 3</a><br>
                  </div>
                  <div class="col-md-2">
                      <p>Номер телефона:    <br>
                          <a href="tel:+373 069 65 89 75">+373 069 65 89 75</a>
                      </p>
                      <p>Связь по почте:    <br>
                          <a href="mailto:Eugeniu@naukin.com">Eugeniu@naukin.com</a>
                      </p>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-3">
                      <p>Отправить заявку: <br>
                      <a href="#">Конструктор заказа</a>
                      </p>
                      <p>Социальные сети: <br>
                      <a href="#">Instagram</a>, <a href="#">VKontakte</a>, <a href="#">Behance</a>, <a href="#">Facebook</a>
                      </p>
                  </div>
              </div>


          </div>
      </div>
    <!--Конец Footer-->



  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  </body>
</html>
