body{
    font-family: 'Montserrat', sans-serif;
}
a{
    color: #443EDF;
}
a:hover{
    text-decoration: none;
    color: #443EDF;
}
/*блоки сайта*/
.header{
    background-color: #F5F5F5;
    /*background: url('images/background_header.jpg') no-repeat;*/
    height: 100%;
    background-size: 100% 100%;
    padding-bottom: 56px;
}
.why{
    padding-top: 56px;
    background-color: #000000;
    padding-bottom: 64px;
}
.services{
    padding-top: 56px;
    background-color: #F5F5F5;
    /*background: url('images/background_services.jpg') no-repeat;*/
    height: 100%;
    background-size: cover;
    padding-bottom: 212px;
}
.contacts{
    padding-top: 56px;
    background-color: #000000;
    padding-bottom: 56px;
}
.question{
    padding-top: 56px;
    background-color: #F5F5F5;
    padding-bottom: 56px;
}
.footer-panel{
    padding-top: 56px;
    background-color: #000000;
    padding-bottom: 198px;
}
.portfolio{
    color: white;
    padding-top: 64px;
    background-color: #000000;
    padding-bottom: 64px;
}
.more{
    padding-top: 64px;
    background-color: #F5F5F5;
    padding-bottom: 64px;
}
/*элементы сайта*/
.nav-link{
    font-weight: 500;
    margin-left: 28px;
    color: #858585;
}
.active,
.nav-link:hover {
    color: #000000;
    border-bottom: 2px solid #492FE6;
}
.btn-purple{
    font-size: 12px;
    color: #ECE7E4;
    background-color: #443EDF;
}
.btn-purple:hover{
    color: #ECE7E4;
    background-color: #443EDF;
}
/*Изменяю цвет */
.navbar-light .navbar-toggler-icon {
    background-image: url('images/toggler.svg');
}
/*Убираю рамку цвет */
.navbar-light .navbar-toggler {
     border-color: rgba(0,0,0,0); 
}
/*Обводка тоглера*/
button:focus {
    outline: none !important;
}
.card{
    max-width: 18rem;
}
.border-red-naukin{
    border: 1px solid #F2440D;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
}
.border-green-naukin{
    border: 1px solid #00CAE5;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
}
.border-purple-naukin{
    border: 1px solid #492FE6;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
}
.border-pink-naukin{
    border: 1px solid #FF73F1;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
}
.purple-card{
    background-color: #F5F5F5;
    border: 1px solid #443EDF;
    box-sizing: border-box;
    border-radius: 8px;
}
.form-control,
.textarea,
.form-control:active,
.form-control:focus,
.form-control:focus:active{
    background: #0F0F0F;
    border: none;
    border-bottom: 1px solid #443EDF;
}
.form-contacts{
    padding: 10px;
    border: 1px solid #443EDF;
    box-sizing: border-box;
    border-radius: 8px;
}
.multi-question{
    margin-top: 10px;
    border-bottom: 1px solid #000000;
}
.plus{
    margin-left: 105px;
}
/*Для того что бы убрать выделение у кнопок*/
.btn:focus, .btn:focus:active {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
@media(max-width:992px){
    .header{
        background-size: cover;
    }
    .services{
        background-size: cover;
    }
    .nav-link:hover {
        border-bottom: 0px;
    }
    .plus{
        margin-left: 40px;
    }
}
@media(max-width:500px){
    .card{
        max-width: none;
    }
}
@media(max-width:767px){
    .footer-panel{
        padding-bottom: 56px;
    }
    .plus{
        margin-left: 0px;
    }
}
@media(max-width: 991px){
    .active,
    .nav-link:hover {
        color: #000000;
        border-bottom: none;
    }
}



