body{
    font-family: 'Montserrat', sans-serif;
}
.logo{
    max-width: 64px;
}
.navbar{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-link{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.nav-link:hover{
    
}