body{
    font-family: 'Montserrat', sans-serif;
}
.logo{
    max-width: 64px;
}
.navbar{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-link{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 100%;
}
p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}
.nav-item{
    margin-top: 40px;
    margin-bottom: 52px;
    margin-right: 64px;
}
.btn-order{
    margin-top: 0px;
}
.navbar{
    max-height: 112px;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.col{
    padding: 0; 
}






@media(max-width:1550px){
    
    .nav-item{
        margin-top: 40px;
        margin-bottom: 52px;
        margin-right: 32px;
    }
}
@media(max-width:1300px){
    
    .nav-item{
        margin-top: 40px;
        margin-bottom: 52px;
        margin-right: 16px;
    }
}
@media(max-width:1155px){
    
    .nav-item{
        margin-top: 40px;
        margin-bottom: 52px;
        margin-right: 8px;
    }
}
@media(max-width:1100px){
    
    .nav-item{
        margin-top: 40px;
        margin-bottom: 52px;
        margin-right: 0px;
    }
    .nav-link{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
}
@media(max-width:990px){
    
    .nav-item{
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 0px;
    }
    .btn-order{
        margin-top: 25px;
        margin-bottom: 15px;
    }
}
@media(max-width:990px){
    
    .nav-item{
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 0px;
    }
    .btn-order{
        margin-top: 25px;
        margin-bottom: 15px;
    }
}