.menu{
    background: url('images/background_header.svg') no-repeat top center / cover;
    padding-top: 70px;
    padding-bottom: 200px;
}
.btn-pet{
    background: linear-gradient(102.4deg, #F52557 36.84%, #ED1C4E 74.32%);
    box-shadow: 0px 7px 35px rgba(242, 34, 84, 0.42);
    border-radius: 110px;
    max-width: 265px;
    max-height: 67px;   
}