.menu{
    background: url('images/background_header.jpg') no-repeat top center / cover;
    padding-top: 70px;
    padding-bottom: 200px;
}
.logo{
    margin-right: 60px;
}
.nav-tabs {
     border-bottom: 0px; 
}
.btn-pet{
    background: linear-gradient(102.4deg, #F52557 36.84%, #ED1C4E 74.32%);
    box-shadow: 0px 7px 35px rgba(242, 34, 84, 0.42);
    border-radius: 110px;
    max-width: 265px;
    max-height: 67px;   
}
.shop{
    background-color: #FBF6ED;
}
.footer{
    background: url('images/bg-footer.jpg') no-repeat top center / cover;
    padding-bottom: 300px;
    padding-top: 100px;
}
.btn-outline-danger{
    border-radius: 30px !important;
}
.btn-danger{
    border-radius: 30px !important;
}
.card{
    background: #FFFFFF;
    border-radius: 20px;
}
.card-text-header{
    font-size: 13px;
}
@media(max-width:1000px){
    .logo{
        margin-right: 0px;
    }
}